body{
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

canvas{
    margin: 0;
    padding: 0;
    overflow-clip-margin: 0px;
    z-index: 10;
    visibility: visible;
}


.warning{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 20;
}


.hidden{
    display: none;
}


.wrapper_alignment{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.headliner{
    z-index: 1;
}

.headliner_font{
    font-size: 35px;
}


.sscc:hover{
    cursor: text;
}

.sscc_alignment{
    z-index: 19;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 0px;
    width: 600px;
    height: 200px;
}

.sscc_bg-color{
    background-color: white;
}

.sscc_border{
    border: solid black 2px;
}

.sscc__organica{
    margin-left: 20px;
    height: 0px;
}

.sscc__organica_font{
    font-size: 15px;
}

.sscc__organica_alignment{
    align-self: start;
}

.sscc__question-mark_size{
    font-size: 30px;
    line-height:0%;
}

.sscc__digits{
    width: 500px;
    margin-bottom: 10px;
}

.sscc_digits_alignment{
    text-align: center;
}

.sscc__digits_border{
    border: none;
}

.sscc__digits_nofocus{
    outline: none;
}

.sscc__digits_font{
    font-size: 20px;
}

.sscc__digits::placeholder{
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
}


.result{
    z-index: 4;
}

.result_font{
    font-size: 20px;
}

.result_invisible{
    visibility: hidden;
}


.generate_btn{
    z-index: 10;
}



.btn{
    text-align: center;
    width: 200px;
    z-index: 10;
}

.btn_wrapper{
    display: flex;
    place-items: center;
    gap: 5em;
}

.btn__bg_green{
    transition: 0.5s;
    background-color: #33b249;
    padding: 10px;
}

.btn__bg_green:hover{
    background-color: #247c33;
}

.btn__bg_red{
    transition: 0.5s;
    background-color: #ED0800;
    padding: 10px;
}

.btn__bg_red:hover{
    background-color: #940500;
}

.btn__text_colour{
    color: white;
}

.btn__text_size{
    font-size: 20px;
}

.btn__border{
    border-radius: 2%;
}

.btn__no_decoration{
    text-decoration: none;
}

.btn:hover{
    cursor: pointer;
}


.info{
    z-index: 20;
}

.info:hover{
    cursor: pointer;
}

.info__resolution{
    width: 80px;
    height: 80px;
}


.background_unselectable{
    user-select: none;
}

.background_markup{
    position: absolute;
    top: -200px;
    left: 0;
}

.background__text_animation{
    animation: 30s linear infinite running background__text_animation;
}

.background__text_size{
    font-size: 70px;
}

.background__text_colour{
    color: #ededed;
}

.background__text_wrap{
    white-space: nowrap;
}

.background__text_angle{
    transform: rotate(-2deg);
}